*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
}
header{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
    height:15vh;
    position:fixed;
    z-index: 1;
    background:rgba(0,0,0,0.2);
}

#me li{
    list-style: none;
   
    display:inline-block;
    
    margin: 20px;
}

 #me li a{
    text-decoration: none;
    color: rgb(240, 244, 245);
    transition: all 1s ease;

}
#me li a:hover{
color: black;
font-weight: bold;
}



section{
    position: relative;
    width: 100%;
    height: 100vh;
    float: left;
    
}
h1{
    color: white;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    

}
  #home{
     background-color:  rgb(173, 65, 65);
     

}
 #about{
background: rgb(76, 76, 182);

}
#product{
    background-color: rgb(134, 37, 134);
}

  #pricing{
    background: rgb(230, 148, 48);
    }
#contact{
    background-color: rgb(139, 139, 11);
}
    
@media screen and (max-width:800px){
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        
    }
    
}